<ion-header>
  <ion-toolbar>
  
    <ion-tab-button (click)="openMenu()">
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-tab-button>
<!-- {{thisUser.UserFirstName}} -->
   <!-- <ion-title *ngIf="{{thisUser.isDriver}}">שלום לנהג {{thisUser.UserFirstName}} {{thisUser.UserLastName}}</ion-title> -->
    <ion-title *ngIf="thisUser">hello, {{thisUser.UserFirstName}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <ion-grid >
   <ion-item *ngIf="isDriver()" routerLink="list-requests">רשימת הבקשות</ion-item>
   <ion-item *ngIf="isDriver()" routerLink="travelsOfDriver">רשימת הנסיעות שלי</ion-item>
   <ion-item *ngIf="!isDriver()" routerLink="list-travels">רשימת הנסיעות</ion-item>
   <ion-item *ngIf="!isDriver()" routerLink="add-request">הוסף בקשה</ion-item> 
   <!-- <router-outlet></router-outlet>-->
<!-- <ion-content class="driver"> -->
 <ion-card></ion-card>
 <ion-card></ion-card>
 <ion-card></ion-card>
 <ion-card></ion-card>
 <!-- </ion-content>
 <ion-content class="user"> -->
 <ion-card></ion-card>
 <ion-card></ion-card>
 <ion-card></ion-card>
 <ion-card></ion-card>
<!-- </ion-content> -->
 <!-- <ion-img class="logo"  src="..\..\assets\logo.png"></ion-img> -->
 </ion-grid>
</ion-content>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header >
    <ion-toolbar  color="danger" (click)="closeMenu()">
      

      <ion-title >Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
    <!-- //  <ion-item routerLink="list-requests">רשימת הבקשות</ion-item>
    -->
      <ion-item (click)="AddRequest()">הוסף בקשה</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>