<ion-header>
  <ion-toolbar>
  
    <ion-tab-button style="position: absolute;top: 0em;left: 0em;" (click)="openMenu()">
      <ion-icon name="reorder-three-outline"></ion-icon>  
    </ion-tab-button> 

   <!-- <ion-title *ngIf="{{thisUser.isDriver}}">שלום לנהג {{thisUser.UserFirstName}} {{thisUser.UserLastName}}</ion-title> -->
    <ion-title>hello, {{thisUser.UserFirstName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-item *ngIf="isDriver()" routerLink="list-requests">רשימת הבקשות</ion-item>
   <ion-item *ngIf="isDriver()" routerLink="travelsOfDriver">רשימת הנסיעות שלי</ion-item>
   <ion-item *ngIf="!isDriver()" routerLink="add-request">הוסף בקשה</ion-item>
   <!-- <router-outlet></router-outlet> -->
</ion-content>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header >
    <ion-toolbar color="primary" (click)="closeMenu()">
      

      <ion-title >Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
    <!-- //  <ion-item routerLink="list-requests">רשימת הבקשות</ion-item>
    -->
      <ion-item (click)="AddRequest()">הוסף בקשה</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>