
<ion-header>
  
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Log In</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content>

    <ion-grid>
      <!-- <ion-img class="logo" src="..\..\assets\logo.png"></ion-img> -->
      <ion-avatar>
        <ion-img src="../../assets/profile.png"></ion-img>    
      </ion-avatar>
      <ion-fab-button>
      <ion-icon name="swap-horizontal-outline"></ion-icon>
    </ion-fab-button>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform.value)">
        <ion-item lines="none">
          <!-- <ion-label position="floating">Id</ion-label> -->
          <ion-input placeholder="Id" type="text"  name="id" ngModel required></ion-input>
        </ion-item>
    
        <ion-item lines="none">
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-input placeholder="Password" type="password"  name="password" ngModel required></ion-input>
        </ion-item>
        <ion-item class="driver" lines="none">
          <ion-label>Are you a driver?</ion-label>
          <ion-checkbox class="small-text" (click)="Checked()"  ></ion-checkbox>
        </ion-item> 
        <ion-row>
          <ion-col>
             <!-- routerLink="requests" -->
            <ion-button size="small" type="submit"shape="round" >Sign In</ion-button><br>
            <a routerLink="forgot-password"  class="small-text"> Forgot Password?</a>
            
            <router-outlet></router-outlet>
          </ion-col>
        </ion-row>
      </form>
  </ion-grid>
    
  </ion-content>
