<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button  color="danger"></ion-back-button>
    </ion-buttons> -->
    <!-- {{request.Date | date :  "dd.MM.y" }} -->
    <!-- <ion-title>{{request.SourceAddress}} to
      {{request.DestinationAddress}}</ion-title> -->
      <!-- <ion-tab-button (click)="openMenu()">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-tab-button> -->
  </ion-toolbar>
</ion-header>



<ion-content>
  
  <!-- <ion-card >
    <h2>{{request.SourceAddress}} to {{request.DestinationAddress}}</h2>
      <p>{{request.Date | date :  "dd.MM.y" }}</p>
   <ion-label> {{request.Summarry}}</ion-label><br>
   <ion-button (click)="AddTravelOfThisRequest()" size="small">צור נסיעה חדשה</ion-button>
   <ion-button routerLink="travelOfDriver/{{request.RequestCode}}" size="small">צרף לנסיעה קיימת</ion-button>
  </ion-card> -->
  <!-- <h2>Travel list for this request</h2>

      <ion-tab-bar>
      
      <ion-label style="color: black;">{{getName(item.UserId)}}</ion-label>
      
     
     
        <ion-tab-button >
          <ion-icon (click)="Add(item)" name="add-circle-outline"></ion-icon>
          <ion-label>Add</ion-label>
       </ion-tab-button>  
        <ion-tab-button >
           <ion-icon (click)="Del(item)" name="trash-outline"></ion-icon>
           <ion-label>Del</ion-label>
        </ion-tab-button>
        
           <ion-label>{{getCnt(item)}}/{{item.NumOfPassengers}}</ion-label>
  </ion-tab-bar>
     

 
    
  </ion-list> -->
  <!-- <ion-input type="number" [(ngModel)]="numsOfPassengers" ></ion-input> -->

</ion-content>