// ion-toolbar{
//     --background: #090909;
//    height: 9vh;
//     color:#fe8100;
//     font-size: smaller;
// }

ion-title{
    font-size: small;
   margin-top: -2vh;
  
}
ion-back-button{
    font-size: small;
    margin-top: -4vh;
     --color:#fe8100;
 }
.statusbar{
    --color: white;
}
ion-tab-button {
    position: absolute;
    top: -0.5em;
    right: 1em;
    color: #fe8100;
    width: 9.5vw;
    height: 11vw;
}
ion-button{
    --background:#fe8100;
    --background-hover:#f79330;
    --background-activated:#f79330;
    --box-shadow: black 1px 1px 4px;
}

.my-custom-menu{
    margin-right: -20vw;
    
}
.my-custom-menu ion-content,.my-custom-menu ion-header{ 
    width: 80vw;
}
.my-custom-menu ion-header ion-toolbar{
    height: 13vh;
    --background:#fe8100;
   color: #080808;
}

ion-toolbar{
    --background: #080808;
    height: 9vh;
   box-shadow:  0px 0px 5px black;
    color: #fe8100;
    font-size: small;
    text-shadow: 0px 0px 1px #fe8100;
    /* font-weight: bold; */
}
