<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>taxi</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">taxi</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>home</ion-title>
    </ion-toolbar>
  </ion-header>
 

<ion-content class="auth-form" >
  <ion-avatar>
    <ion-img src="../../assets/profile.png"></ion-img>    
  </ion-avatar>
  <ion-grid>

<!--     
     <ion-img class="logo"  src="..\..\assets\logo.png"></ion-img>
     
  <div></div> -->

    <ion-row>
      <ion-col>
        <ion-button  class="Register" routerLink="registration" expand="block">Register</ion-button>

        <span class="divider line one-line">or</span>

        <strong class="already">Already a user?</strong>

        <ion-button class="login" routerLink="login" expand="block">Sign In</ion-button>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>