<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>requests</ion-title> 
    <ion-tab-button  (click)="openMenu()">
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-img class="logo" src="../../assets/logo.png"></ion-img> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

  <ion-list *ngFor="let item of requestsArr">
 <!-- routerLink="Travels/{{item.RequestCode}}" -->
  <ion-item [class.checked]="rCode==item.RequestCode" (click)="f(item.RequestCode)">
    <ion-avatar slot="start">
      <img src="../../assets/profile.png">
    </ion-avatar>
    <ion-label>
      <h2>{{item.SourceAddress}} to
     {{item.DestinationAddress}}</h2>
      <p>{{item.Date | date :  "dd.MM.y" }}</p> 
    
      <ion-label *ngIf="rCode==item.RequestCode">
         <p> {{item.Summarry}}</p>
        <ion-button (click)="AddTravelOfThisRequest()" size="small" color="light" expand="block">צור נסיעה חדשה</ion-button>
        <ion-button routerLink="travelOfDriver/{{item.RequestCode}}" size="small" color="light" expand="block">צרף לנסיעה קיימת</ion-button>
      </ion-label>
    </ion-label>
    <ion-note color="primary" size="small" (click)="f(item.RequestCode)">
      <ion-icon *ngIf="rCode==item.RequestCode" name="chevron-up-outline"></ion-icon>
      <ion-icon *ngIf="rCode!=item.RequestCode" name="chevron-down-outline"></ion-icon>
    </ion-note>
    
 </ion-item>
</ion-list>
</ion-grid>
</ion-content>


<ion-menu side="start" menuId="first" contentId="main">
  <ion-header >
    <ion-toolbar (click)="closeMenu()">
      

      <ion-title >Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
    <!-- //  <ion-item routerLink="list-requests">רשימת הבקשות</ion-item>
    -->
      <ion-item (click)="AddRequest()">הוסף בקשה</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>