
ion-item{
    margin-top: 1vh;
  // --background: #f3d5ba69;
    width: 96vw;

    
}
.checked{
    // --background: #f3d5ba69;
    --background:#e4e6e7;
    text-align: center;
}


ion-button{
 --border:1px solid;
 --color: #fe8100;
 //--background:white;
}

ion-avatar{
    border: 2px solid #fe8100;
}

ion-content {
    width: 400px;
    height: 200px;
    border: 1px solid #AAA;
    overflow: hidden;
  }
  ion-grid {
   
    margin-right: -50px; /* Maximum width of scrollbar */
    padding-right: 50px; /* Maximum width of scrollbar */
    overflow-y: scroll;
    margin-bottom: 10vh;
  }
  .user{
     height:93%;
  }
  ion-segment{
    width: 100vw;
  }
  a{
    font-size: 0.9em;
  }
  .divider {
    display: flex;
    font-size: x-small;
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  .line {
    align-items: center;
    margin: 1em -1em;
    color: #9E9E9E;
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 
.one-line {
    &:before,
    &:after {
       background: #9E9E9E;
    }
}
.AddRequest{
  //position: absolute;
   top: 60vw;
}
.selectTravel{
  position: absolute;
    top: 78vh;
    width: 99vw;
}
#closeItem{
 // color: red;
  position: absolute;
  top: 81vh;
  height: 7vw;
  width: 7vw;
  z-index: 2;
}
ion-item ion-label{
  white-space: break-spaces;
}
.ls{
  font-size: small;
}
.date{
  color: #fe5200;
  font-size: x-small;
}
ion-searchbar{
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #aeb4b7;
  --background: #aeb4b7;
  height: 16vw;
}

.travelArr {
 
  background-color: #ededed;
  /* margin-left: 4vw; */
  text-align: center;
  /* padding: 0.8vw; */
  position: fixed;
  z-index: 2;
  /* border-radius: 1vw; */
  top: 10vh;
  width: 100vw;
  //height: 64vh;
  box-shadow: 0px 0px 10px 0px #FFE082;

}
.resO,.resC{
  background: #F57C00;
  height: 7vh;
  text-shadow: 0px 0px 5px;
  font-weight: bold;
  padding-top: 1.5vh;
  box-shadow: 0px 0px 4px;
  border: 1px white solid;
  font-size: 1.17em;
}
.resC{
  margin-left: 1vw;
}
// .h{
//   background: #F57C00;
//   height: 11vh;
//   /* text-shadow: 0px 0px 5px; */
//   font-weight: bolder;
//   padding-top: 2.6vh;
//   /* box-shadow: 0px 0px 4px; */
//   border: 1px white solid;
//   font-size: 1.17em;
// }
#select{
  font-size: 4.5vw;
  height: 8vh;
   width: 100vw;
}
.h{
  text-shadow: 1px -0.5px 3px #EF6C00;
   
   
    font-weight: bolder;
    font-size: 1.24em;
}
.list{
  margin-top: 1vh;
  margin-bottom: 1vw;
}
.listDiv{
  margin-bottom: 4vw;
}
.clickItem{
  border: 1.5px solid #03A9F4;
  margin-top: 0;
}
form{
  margin-top: 1.5vh;
}
